// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
	background-color:  	#F0F0F0 ;
}
h1 {
	color:#F0F0F0;
}

.carousel-caption{
	z-index: 10;
}
.carousel-inner > .item > img{
	position: absolute;
	top: 50px;
	left: 0;
	min-width: 100%;
	height: auto;
}
.carousel-inner > .item {
	height: 500px;
}

.intro-block{
	background: url(../assets/purpalt.png) repeat;
	padding: 100px 15px 60px 0px;
	color: #fff ;
}
.text-muted {
	color: #e9e6df;
	font-weight: 100;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #802E6F;
border-color: #802E6F;
}
.btn-primary:hover{
	background-color: #E9CAED;
    border-color: #E9CAED;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #fff;
background-color: #802E6F;
border-color: #802E6F;
} 
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: #fff;
cursor: default;
background-color: #802E6F;
border-color: #802E6F;
}
.pagination>li>a, .pagination>li>span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #802E6F;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.tpad {
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
.padded{
	padding: 100px 20px 20px 100px;
}

.ftr {
	background: url(../assets/purpalt.png) repeat;
	padding: 80px 0 60px 0;
}
.ftr address, .ftr a, .ftr p {
	color: #fff;
}
.ft_space{
	padding: 0 10px;

}
.blog h1 a {
	color: #802E6F;
}
.blog p a {
	color:#ed7337;
}
.sidebar{
	background-color:#e9e6df;
}
.bpad{
	margin-bottom:30px;
}
@media(min-width: 768px){
	.carousel-inner > .item {
	height: 800px;
	}
}
hr {
	border-top: 1px solid #c9c9c9;
}